<!--[if IE]>
<br />
<![endif]-->
<div class="staticpage">
<div class="text" style="width: 800px;">
<h1 class="title">COMMENTS</h1>
<div class="article">
<br /><br />
<p>If you have any comments about our website, or wish to get in touch for any reason, please feel free to contact us using the form below:</p>
<form method="post" action="">
<textarea id="commentstext" name="commentstext"></textarea>
<input type='submit' name='Submit' value='Submit' />
</form>
</div>
</div>
</div>
<div style="clear: both;"></div>
