
            <!--[if IE]>
<br />
<![endif]-->
<div class="staticpage">
	<div class="menu">
				<img src="/storage/pictureundersubmenus/thumb_hansgal.jpg" border="0" />
				<div class="piktogram">
		<div style="text-align: center">&nbsp;</div>

<div style="text-align: right; ">Chronology of G&aacute;l's life<a href="/hansgal/26"><img width="36" height="36" alt="" src="/storage/userfiles/image/hansgal/timemachine.jpg" /></a>&nbsp;<br />

Family tree &nbsp;<a href="/hansgal/12"><img width="36" height="36" alt="" src="/storage/userfiles/image/hansgal/tree.jpg" /></a></div>
		</div>
	</div>
	<div class="text">
		<div class="title"></div>
		<br />
		<div class="lead"><p align="justify"><span style="font-size: larger; "><font face="Arial, Helvetica, sans-serif">The composer Hans G&aacute;l was born near Vienna in 1890. Following considerable success in the 1920s, he was appointed Director of the Conservatory in Mainz in 1929. Hitler's accession to power in 1933 led to his instant dismissal and the banning of all his works. He returned to Vienna, but was again to forced to flee by Hitler's annexation of Austria in 1938. He emigrated to Britain and settled in Edinburgh, where he remained active until his death in 1987.</font></span></p></div>
		<br /><br />
		<div class="article">
			<div class="menu" style="width: 600px;">
																		<div style="width: 280px; float: left;">
							<table border="0" cellpadding="2" cellspacing="0" style="width: 280px;">
																											<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['1'].hidden != 'yes' %}<a href="/hansgal/1" class="c hansgal">{{ biography_menu['1'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['2'].hidden != 'yes' %}<a href="/hansgal/2" class="c hansgal">{{ biography_menu['2'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['9'].hidden != 'yes' %}<a href="/hansgal/9" class="c hansgal">{{ biography_menu['9'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['11'].hidden != 'yes' %}<a href="/hansgal/11" class="c hansgal">{{ biography_menu['11'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																																																																																							<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['27'].hidden != 'yes' %}<a href="/hansgal/27" class="c hansgal">{{ biography_menu['27'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['28'].hidden != 'yes' %}<a href="/hansgal/28" class="c hansgal">{{ biography_menu['28'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['29'].hidden != 'yes' %}<a href="/hansgal/29" class="c hansgal">{{ biography_menu['29'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['38'].hidden != 'yes' %}<a href="/hansgal/38" class="c hansgal">{{ biography_menu['38'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['39'].hidden != 'yes' %}<a href="/hansgal/39" class="c hansgal">{{ biography_menu['39'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['40'].hidden != 'yes' %}<a href="/hansgal/40" class="c hansgal">{{ biography_menu['40'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['41'].hidden != 'yes' %}<a href="/hansgal/41" class="c hansgal">{{ biography_menu['41'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['42'].hidden != 'yes' %}<a href="/hansgal/42" class="c hansgal">{{ biography_menu['42'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											{% if biography_menu['43'].hidden != 'yes' %}<a href="/hansgal/43" class="c hansgal">{{ biography_menu['43'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																										{% for item in biography_extra %}<tr><td><div class="mi"><div class="l hansgal"></div><a class="c hansgal" href="/hansgal/{{ item.id }}">{{ item.title }}</a><div class="r hansgal"></div></div></td></tr>{% endfor %}</table>
							</div>
							<div style="width: 280px; float: left; margin-left: 15px;">
							<table border="0" cellpadding="2" cellspacing="0" style="width: 280px;">
																																																																																									<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['44'].hidden != 'yes' %}<a href="/hansgal/44" class="c hansgal">{{ biography_menu['44'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['45'].hidden != 'yes' %}<a href="/hansgal/45" class="c hansgal">{{ biography_menu['45'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['46'].hidden != 'yes' %}<a href="/hansgal/46" class="c hansgal">{{ biography_menu['46'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['47'].hidden != 'yes' %}<a href="/hansgal/47" class="c hansgal">{{ biography_menu['47'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['48'].hidden != 'yes' %}<a href="/hansgal/48" class="c hansgal">{{ biography_menu['48'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['49'].hidden != 'yes' %}<a href="/hansgal/49" class="c hansgal">{{ biography_menu['49'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['50'].hidden != 'yes' %}<a href="/hansgal/50" class="c hansgal">{{ biography_menu['50'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['51'].hidden != 'yes' %}<a href="/hansgal/51" class="c hansgal">{{ biography_menu['51'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['52'].hidden != 'yes' %}<a href="/hansgal/52" class="c hansgal">{{ biography_menu['52'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['53'].hidden != 'yes' %}<a href="/hansgal/53" class="c hansgal">{{ biography_menu['53'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['54'].hidden != 'yes' %}<a href="/hansgal/54" class="c hansgal">{{ biography_menu['54'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['55'].hidden != 'yes' %}<a href="/hansgal/55" class="c hansgal">{{ biography_menu['55'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											{% if biography_menu['56'].hidden != 'yes' %}<a href="/hansgal/56" class="c hansgal">{{ biography_menu['56'].title }}</a>{% endif %}
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																						</table>
			</div>
		</div>
	</div>
</div>
	<div class="clear"></div>