
            <!--[if IE]>
<br />
<![endif]-->
<div class="staticpage">
	<div class="menu">
				<img src="/storage/pictureundersubmenus/thumb_hansgal.jpg" border="0" />
				<div class="piktogram">
		<div style="text-align: center">&nbsp;</div>

<div style="text-align: right; ">Chronology of G&aacute;l's life<a href="/hansgal/26"><img width="36" height="36" alt="" src="/storage/userfiles/image/hansgal/timemachine.jpg" /></a>&nbsp;<br />

Family tree &nbsp;<a href="/hansgal/12"><img width="36" height="36" alt="" src="/storage/userfiles/image/hansgal/tree.jpg" /></a></div>
		</div>
	</div>
	<div class="text">
		<div class="title"></div>
		<br />
		<div class="lead"><p align="justify"><span style="font-size: larger; "><font face="Arial, Helvetica, sans-serif">The composer Hans G&aacute;l was born near Vienna in 1890. Following considerable success in the 1920s, he was appointed Director of the Conservatory in Mainz in 1929. Hitler's accession to power in 1933 led to his instant dismissal and the banning of all his works. He returned to Vienna, but was again to forced to flee by Hitler's annexation of Austria in 1938. He emigrated to Britain and settled in Edinburgh, where he remained active until his death in 1987.</font></span></p></div>
		<br /><br />
		<div class="article">
			<div class="menu" style="width: 600px;">
																		<div style="width: 280px; float: left;">
							<table border="0" cellpadding="2" cellspacing="0" style="width: 280px;">
																											<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/1" class="c hansgal">1. EARLY LIFE</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/2" class="c hansgal">2. MUSICAL EDUCATION</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/9" class="c hansgal">3. EARLY WORKS</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/11" class="c hansgal">4. THE FIRST WORLD WAR</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																																																																																							<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/27" class="c hansgal">5. 'Arzt der Sobeide'</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/28" class="c hansgal">6. Post war recovery</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/29" class="c hansgal">7. Marriage and family</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/38" class="c hansgal">8. 'Die Heilige Ente'</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/39" class="c hansgal">9. 'Das Lied der Nacht'</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/40" class="c hansgal">10. The 1920s</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/41" class="c hansgal">11. Recognition</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/42" class="c hansgal">12. Scholarship</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: right;">
											<div class="l hansgal"></div>
											<a href="/hansgal/43" class="c hansgal">13. Appointment in Mainz</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																										</table>
							</div>
							<div style="width: 280px; float: left; margin-left: 15px;">
							<table border="0" cellpadding="2" cellspacing="0" style="width: 280px;">
																																																																																									<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/44" class="c hansgal">14. The Mainz Period</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/45" class="c hansgal">15. The Nazi take-over</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/46" class="c hansgal">16. 'Die Beiden Klaas'</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/47" class="c hansgal">17. Return to Vienna</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/48" class="c hansgal">18. Emigration</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/49" class="c hansgal">19. Internment</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/50" class="c hansgal">20. Edinburgh</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/51" class="c hansgal">21. Wartime works</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/52" class="c hansgal">22. New works</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/53" class="c hansgal">23. Late works</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/54" class="c hansgal">24. Research & writing</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/55" class="c hansgal">25. Gál's music</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																																													<tr>
									<td style="width: 280px; padding: 4px 0 4px 0;">
										<div class="mi" style="float: left;">
											<div class="l hansgal"></div>
											<a href="/hansgal/56" class="c hansgal">26. Postscript</a>
											<div class="r hansgal"></div>
										</div>
									</td>
								</tr>
																																																						</table>
			</div>
		</div>
	</div>
</div>
	<div class="clear"></div>