<div class="staticpage reading-layout">
	<div class="widelead">
		{{ lead }}
	</div>
<aside class="chapter-nav"><details open><summary>{{ page_text('105') }}</summary><nav aria-label="{{ page_text('106') }}">
 {% for item in submenus %}{% if item.hidden == 'no' %}<a href="/{{ mainmenu }}/{{ item.id }}/" {% if route == '/' ~ mainmenu ~ '/' ~ item.id %}aria-current="page"{% endif %}>{{ item.title }}</a>{% endif %}{% endfor %}
 </nav></details>		{% if thumb %}
		<img class="thumb" src="/storage/pictureundersubmenus/thumb_{{ mainmenu }}.jpg" border="0" />
		{% endif %}
</aside>
    <div class="text">
		<h1 class="title">{{ title }}</h1>
		<div class="lead">
			{% if thumbnails %}
			<br /><br />
			{% for i in range(thumbnails|length) %}
			<div class="thumbnail">
				<a class="imagesItem" rel="group" href="/storage/thumbnails/{{ thumbnails[i].filename }}"><img src="/storage/thumbnails/thumb_{{ thumbnails[i].filename }}" border="0" /></a>
			</div>
			{% endfor %}
			<br />
			<div class="clear"></div>
			{% endif %}
		</div>
		<div class="article">{{ body }}</div>
	</div>
	<div class="clear"></div>
</div>
